@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.label-input {
    width: 80%;
    margin: 0 10%;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
}

.align-center{
    margin: 0 35%;
}

#email-sign-up{
    width: 90%;
    height: 45px;
    background-color: #ecf0f1;
    border: none;
}

.form input {
    width: 100%;
    
    background-color: #ecf0f1;
}

.title-second {
    color: #15B6D6;
}
.title {
    margin: 5% 0;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.btn-second {
    background-color: #15B6D6;
    border: 1px solid #15B6D6;
    transition: background-color .5s;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #15B6D6;
    color: #15B6D6;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 80%;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin: 0 33%;
    margin-top: 1rem;
    text-align: center;
    
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

.text-center {
    margin: 5% 0;
    text-align: center;
}

.text-center2 {
    margin: 5% 0;
    text-align: center;
    color: #7f8c8d;
}